def attachments = doc
def fullNameEscaped = doc.fullName.replaceAll("/","__")
def targetDir = "webapps/ROOT/resources/pictureExports/" + fullNameEscaped
def hadNovelty = false
for(att in doc.attachmentList) {
def targetFile = new File(targetDir + "/src/" + att.filename)
if(!targetFile.isFile() || targetFile.lastModified()+100 < att.date.time) {
hadNovelty = true
println("* exporting " + att.filename)
def input = att.getContentInputStream()
org.apache.commons.io.FileUtils.copyToFile(input, targetFile)
}
}
if(hadNovelty) {
println("Would be running thumbsup.")
} else {
println("\n\n{{html}}<iframe src='/resources/pictureExports/"+fullNameEscaped+"/out/index.html?version=${doc.version}' frameborder='0' style='width:80vw; height:80vw'>I need frames</iframe>")
}
